span.spoiler {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: grey 0px 0px 10px;
    cursor: pointer;
}
span.spoiler:hover {
    text-shadow: grey 0px 0px 5px;
}
span.spoiler.revealed {
    text-shadow: grey 0px 0px 0px;
}
